red = #f21b3f
white = #fafafa
lightgrey  = #EDEEED
darkgray = #363434
blue = rgba(68,138,255,1)

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h1
  text-align center
  font-weight 100
  font-size 9rem
  margin 2rem 0
  letter-spacing -10px
  text-shadow 0px 4px 0 rgba(20, 86, 140, 0.11)
  a
    color red
    text-decoration none
    &:focus
      outline 0
